#heading{color: chocolate; text-align: center;text-transform: capitalize;}
*{padding: 0;margin: 0;font-family: 'Times New Roman', Times, serif;background-color: rgb(216, 241, 104);}
#outer{font-size: 25px;}
#inner{font-size:10px;}